@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
body {
  overflow-x: hidden;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

.my-btn {
  padding: 0.8rem 3.2rem;
  background: #f8f8f8;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #000000;
  border: none;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
}

.my-btn:hover {
  background-color: #05f5fd;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #000000;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

header {
  position: absolute;
  z-index: 10;
  width: 100vw;
  line-height: 4rem;
}

nav {
  background-color: rgba(7, 7, 7, 0.308);
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
  -webkit-filter: drop-shadow(0 1.5rem 1rem rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0 1.5rem 1rem rgba(255, 255, 255, 0.5));
}

.navbar-brand {
  font-weight: bold;
  color: #f8f8f8;
  font-size: 2rem;
  -webkit-animation: logo 1s linear infinite;
          animation: logo 1s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes logo {
  from {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes logo {
  from {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.navbar-brand :hover {
  color: #ffffff;
  -webkit-filter: drop-shadow(0 1.5rem 1rem rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0 1.5rem 1rem rgba(255, 255, 255, 0.5));
}

.navbar-nav {
  padding-left: 1rem;
}

.navbar-nav .nav-item .nav-link {
  color: #f8f8f8;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 2rem;
}

.navbar-nav .nav-item:last-child > nav-link {
  padding-right: 0%;
}

.active {
  -webkit-filter: drop-shadow(0 1.5rem 1rem white);
          filter: drop-shadow(0 1.5rem 1rem white);
}

.hero {
  position: relative;
  background: url(..//Images/car22.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero h1 {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 60px;
  font-weight: 800;
  color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.hero .btn1 {
  padding: 0.8rem 3.2rem;
  background: #f8f8f8;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #000000;
  border: none;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
  font-family: 'Akaya Telivigala', cursive;
  display: inline-block;
  margin: 1em 0 0 0;
  border: none;
  text-decoration: none;
  font-weight: 800;
  padding: 10px 20px;
}

.hero .btn1:hover {
  background-color: #05f5fd;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #000000;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.mydiv {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */